<tr>
    <td>
        <button class="btn-editar btn-primary" data-id="{{id}}">Editar</button>
    </td>
    <td>{{numero_registro}}</td>
    <td>{{cod_monodroga}}</td>
    <td>{{monodroga}}</td>
    <td>{{cod_laboratorio}}</td>
    <td>{{laboratorio}}</td>
    <td>{{marca}}</td>
    <td>{{presentacion}}</td>
    <td>{{multidosis}}</td>
    <td>{{precio_caja}}</td>
    <td>{{precio_unitario}}</td>
    <td>{{fecha}}</td>
    <td>{{troquel}}</td>
    <td>{{cod_ab}}</td>
    <td>{{troquel_ean}}</td>
</tr>
